<header id="home-header">
		<div class="navbar"></div>

		<div id="center-blurb">
			<span class="head">GAME ON.</span>
			<br>
			<span class="body">Find a ringer or a local pickup game -- anytime, anywhere.</span>
			<br>
			<button class="info-button">How It Works</button>
		</div>

		<div id="search-bar"></div>
</header>

<div id="panels">
	<div class="panels-header">
		FEATURED VENUES
	</div>
	<div class="panel-images">
		<div class="top-row">
			<img src="/assets/football_stadium.jpg"></img>
			<img src="/assets/tennis_court.jpg"></img>
		</div>
		<br>
		<div class="bottom-row">
			<img src="/assets/basketball_court.jpg"></img>
			<img src="/assets/baseball_diamond.jpg"></img>
			<img src="/assets/soccer_field.jpg"></img>
		</div>
	</div>

</div>
<div id="sliders"></div>

<footer class="main-footer">
	<select class="links" id="language-selector">
		<option value="English">English</option>
	</select>


	<div class="company-links links">
		<h5>Company</h5>
		<a>About</a><br>
		<a>Jobs</a><br>
		<a>Press</a><br>
		<a>Blog</a><br>
		<a>Help</a><br>
		<a>Policies</a><br>
		<a>Terms and Privacy</a><br>
	</div>
	<div class="discover-links links">
		<h5>Discover</h5>
		<a>Safety Tips</a><br>
		<a>Invite Friends</a><br>
		<a>RingerPinger Picks</a><br>
		<a>Mobile</a><br>
		<a>Support Athletes</a><br>
		<a>Business Events</a><br>
		<a>Site Map</a><br>
	</div>
	<div class="captain-links links">
		<h5>Captain</h5>
		<a>Why Captain</a><br>
		<a>Leadership</a><br>
		<a>Sportsmanship</a><br>
		<a>Mobile</a><br>
		<a>Medical Protocol</a><br>
		<a>Stories</a><br>
	</div>
	<div id="copyright">
		<hr style="border: none; height: 1px; color: lightgray; background: lightgray;"/>
	&#169;Ryan Ngai 2014
	</div>
</footer>