<header id="home-header">
	<div class="navbar"></div>

	<div id="center-blurb">
		<span class="head">GAME ON.</span>
		<br>
		<span class="body">Find a ringer or a local pickup game -- anytime, anywhere.</span>
		<br>
		<button class="info-button">How It Works</button>
	</div>

	<div id="search-bar">
</header>

<div id="panels"></div>
<div id="sliders"></div>

<footer class="main-footer"></footer>