<header id="home-header">
	<div class="navbar"></div>
	<div id="center-blurb">
		<span class="head">GAME ON.</span>
		<br>
		<span class="body">Find a local pickup game -- anytime, anywhere.</span>
		<br>
		<button class="info-button">How It Works</button>
	</div>
	<div id="search-bar"></div>
</header>

<div class="modal fade custom" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h4 class="modal-title" id="myModalLabel">Oops!</h4>
            </div>
            <div class="modal-body">
                <h5>We know you're excited to play ball, but please login before exploring!</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<div id="panels">
	<div class="panels-header">
		FEATURED VENUES
	</div>
	<div class="panel-images clearfix">
		<div class="top-row clearfix">
			<img src="/assets/football_stadium.jpg" class="clearfix"></img>
			<img src="/assets/tennis_court.jpg" class="clearfix"></img>
		</div>
		<br>
		<div class="bottom-row clearfix">
			<img src="/assets/basketball_court.jpg" class="clearfix"></img>
			<img src="/assets/baseball_diamond.jpg" class="clearfix"></img>
			<img src="/assets/soccer_field.jpg" class="clearfix"></img>
		</div>
	</div>

</div>
<div id="sliders"></div>

<footer class="main-footer">
</footer>

