<div class="navbar navbar-no-margin"></div>
<div class="events-index clearfix">
	<div class="index-body left-half">		
		<div id="map-container"></div>
	</div>
	<div class="clearfix"></div>

	<div class="index-body right-half">
		<form>
			<div id="index-sport-select">
				<label id="sport-label">Sport</label>
				<input name="event[sport]" placeholder="Enter a Sport"
					class="home-search-field event-search" id="event-sport-filter">
			</div>
			<div id="date-range-select">
				<label id="date-label">Dates</label>
				<input name="event[start_date]" placeholder="Earliest Date" 
					class="home-search-field event-search datepicker" id="event-start-filter">
				<input name="event[end_date]" placeholder="Latest Date" 
					class="home-search-field event-search datepicker" id="event-end-filter">
			</div>
			<div id="skill-level-select">
				<div id="slider-label">Skill Level</div>
				<span class="noUiSlider"></span>
				<input type="hidden" id="slider-value" name="event[skill_level]">
				<div id="skill-level-marker">
					ALL SKILLS
				</div>
			</div>

			<button id="submit-event-filter">Filter!</button>
		</form>

		<hr id="event-index-hr" />

		<div class="event-collection">
			<div class="local-events">
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="main-footer"></div>