<div class="navbar navbar-no-margin"></div>
<div class="events-index clearfix">
	<div class="index-body left-half">		
		<div id="map-container"></div>
	</div>
	<div class="clearfix"></div>

	<div class="index-body right-half">
		<div id="date-range-select">
			<input name="event[start_date]" placeholder="Earliest Date">
			<input name="event[end_date]" placeholder="Latest Date">
		</div>
		<div id="filter-slider">
			<input type="range"  min="1" max="4" value="1" step=1 
			onchange="outputUpdate(value)" id="skill_level_slider">
			<output for="skill_level_slider" id="skill_level">ROOKIE</output>

			<script>
				function outputUpdate(val) {
				if (val === "1") {
					val = "ROOKIE";
				} else if (val === "2") {
					val = "AMATEUR";
				} else if (val === "3") {
					val = "VETERAN";
				} else {
					val = "ALL-STAR";
				}

				document.querySelector('#skill_level').value = val;
			}
			</script>
		</div>

		<div class="event-collection">
			<div class="local-events">
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="main-footer"></div>