<h1> Local Events </h1>

<% if (events) { %>
	<% if (events.length === 0) { %>
		<h3> No Events Found! </h3>
	<% } else {%>
		<ul class="event-list">
			<% events.forEach(function(event) { %>
				<li>
					<a href="#/events/<%= event.id %>">
						<%= event.escape('title') %>
					</a>
					<br>
					<%= event.escape('location') %>
				</li>
			<% }) %>
		</ul>
	<% } %>
<% } %>




