<div class="navbar navbar-no-margin"></div>
<form id="event-form">
	<div class="new-event-header">
		<div id="event-form-title">
			Create Your Event
		</div>
		<div id="event-form-description">
			RingerPinger allows athletes to find and join your 
			events. 
		</div>
	</div>

	<div class="text-inputs">
		<input name="event[sport]" id="event_sport" placeholder="Sport">
			<br>
		<select name="event[skill_level]" id="usersport_skill_level">
			<option selected disabled hidden value=''>Event Skill Level</option>
			<option value="Rookie">Rookie</option>
			<option value="Amateur">Amateur</option>
			<option value="Veteran">Veteran</option>
			<option value="All-Star">All-Star</option>
		</select>
			<br>
		<input name="event[title]" id="event_title" placeholder="Event Title">
			<br>
		<input name="event[event_date]" id="event_event_date" class="datepicker"
			placeholder="Event Date">
			<br>
		<input id="map-input" name="map[input]" placeholder="Location">
			<br>
		<textarea name="event[description]" id="event_description" 
			placeholder="Tell us about your event." rows="4" cols="50" 
			class="description-field"></textarea>
			<br>
		<select name="event[max_players]" id="event_max_players">
			<option selected="true" style="display:none;">Max Players</option>
			<% for (var i = 1; i < 41; i++) { %>
				<option><%= i %></options>
			<% } %>
		</select>
		<br>
		<button id="create-btn">Create Event</button>
	</div>
</div>

</form>
<div class="main-footer"></div>


