<div class="addsport-modal">
	<form id="addsport-form">
		<span id="addsport-title">Add a Sport!</span>
		<br><br><br>
		<input name="usersport[sport_name]" id="usersport_sport_name" placeholder="Sport Name">
		<br>
		<select name="usersport[skill_level]" id="usersport_skill_level">
			<option selected disabled hidden value=''>Your Skill Level</option>
			<option value="Rookie">Rookie</option>
			<option value="Amateur">Amateur</option>
			<option value="Veteran">Veteran</option>
			<option value="All-Star">All-Star</option>
		</select>
		<br>
		<button id="addsport-btn">Submit</button>
	</form>
	<div id="hide-addsport"><a href="#" id="addsport-hide">Close</a></div>
</div>