#panels {
	background: #CEE1E1;
	min-width: 1400px;
	max-height: 740px;
}

.panels-header {
	color: #3E4444;
	font-size: 28px;
	font-weight: 100;
	text-align: center;
	padding: 50px;
	letter-spacing: 3px;
}

.panel-images {
	
	img {
		transition-property: opacity;
		transition-duration: 0.5s;
		width: 425px;
		height: 250px;
	}

	img:hover {
		transition-property: opacity;
		transition-duration: 0.5s;
		opacity: 0.5;
	}

	.top-row {
		margin-left: 250px;
		img {
			margin: 20px;
			margin-top: 0px;
			border: solid gray 2px;
		}
	}

	.bottom-row {
		margin-left: 50px;
		
		img {
			margin: 10px;
			border: solid gray 2px;
			margin-bottom: 50px;
		}
	}
}
