<div class="darken-overlay">
	<select class="links" id="language-selector">
		<option value="English">English</option>
	</select>


	<div class="company-links links">
		<h5>Company</h5>
		<a>About</a><br>
		<a>Jobs</a><br>
		<a>Press</a><br>
		<a>Blog</a><br>
		<a>Help</a><br>
		<a>Policies</a><br>
		<a>Terms and Privacy</a><br>
	</div>
	<div class="discover-links links">
		<h5>Discover</h5>
		<a>Safety Tips</a><br>
		<a>Invite Friends</a><br>
		<a>RingerPinger Picks</a><br>
		<a>Mobile</a><br>
		<a>Support Athletes</a><br>
		<a>Business Events</a><br>
		<a>Site Map</a><br>
	</div>
	<div class="captain-links links">
		<h5>Captain</h5>
		<a>Why Captain</a><br>
		<a>Leadership</a><br>
		<a>Sportsmanship</a><br>
		<a>Mobile</a><br>
		<a>Medical Protocol</a><br>
		<a>Stories</a><br>
	</div>
	<div id="copyright">
		<hr style="border: none; height: 1px; color: lightgray; background: lightgray;"/>
	&#169;Ryan Ngai 2014
	</div>
</div>