<div id="navbar-style">
	<ul class="navbar-items">
		<li class="left-justify" id="site-logo">
			<a href='/#/'>RingerPinger&#174</a>
		</li>

		<div class="right-justify">
			<li id="sign-up">
				<a href="javaScript:void(0);" class="signup-link">Sign Up</a>
			</li>
			<li id="log-in">
				<a href="javaScript:void(0);" class="login-link">Log In</a>
			</li>
			<li id="help">
				<a>Help <span id="down-caret">&#9660;</span></a>
			</li>
				<button id="recruit-ringer">Recruit a Ringer</button>
		</div>
	</ul>
</div>

<div class="signup"></div>
<div class="login"></div>
