<ul class="navbar-items">
	<li class="left-justify" id="site-logo">
		<a href='/#/'>RingerPinger&#174</a>
	</li>

	<div class="right-justify">
		<li id="sign-up"><a>Sign Up</a></li>
		<li id="log-in"><a>Log In</a></li>
		<li id="help"><a>Help <span id="down-caret">&#9660;</span></a></li>
		<button id="recruit-ringer">Recruit a Ringer</button>
	</div>
</ul>
