<div class="home-search">
	<div class="home-inputs">
		<form id="home-search-form">
			<input class="home-search-field search-location search-bar" name="search[location]" placeholder="Where?">
			<input class="home-search-field datepicker search-bar" name="search[start_date]"placeholder="Earliest Date">
			<input class="home-search-field datepicker search-bar" name="search[end_date]" 
				placeholder="Latest Date">
			<input class="home-search-field search-bar" id="event_sport" name="search[sport]" 
				placeholder="Which Sport?">
			<button class="home-search-button search-bar">Find a Game</button>
		</form>
	</div>
</div>
