<div class="home-search">
	<div class="home-inputs">
		<input class="home-search-field search-location" name="search[location]" 
			placeholder="Where?">
		<input class="home-search-field datepicker" name="search[start_date]"placeholder="Earliest Date">
		<input class="home-search-field datepicker" name="search[end_date]" 
			placeholder="Latest Date">
		<input class="home-search-field" id="num-guests" name="search[num_guests]" 
			placeholder="# of Companions">
		<button class="home-search-button">Find a Ringer</button>
	</div>
</div>
