<input class="location" name="search[location]" placeholder="butts">
<input class="start-date" name="search[start_date]" placeholder="John Ochs">
<input class="end-date" name="search[end_date]" placeholder="Matt Graser">
<input class="num-guests" name="search[num_guests]" placeholder="Justin Farooq">
<button class="find-ringer">Find a Ringer!</button>
