<div class="login-modal">
	<input name="user[email]" id="user_email" placeholder="e-mail">
	<br>
	<input name="user[password]" id="user_password" placeholder="password">
	<input type="submit" value="Log In">
</div>