<div class="login-modal">
	<form id="login-form">
		<span id="login-title">Log In</span>
		<br><br>
		<span id="login-error"></span>
		<br>
		<input name="user[email]" id="user_email" placeholder="E-mail">
		<br>
		<input type="password" name="user[password]" id="user_password" placeholder="Password">
		<br>
		<button id="login-btn">Log In</button>
	</form>
	<div class="closing-text">
		Don't have an account yet? 
		<a href="javaScript:void(0);" class="signup-link">
			Join us!
		</a>
		<br>
	</div>
	<div id="hide-login"><a href="#" id="login-hide">Close</a></div>
</div>
