<div class="signup-modal">
	<form id="signup-form">
		<text id="signup-title">Join the Fray!</text>
		<br><br><br>

		<input name="user[email]" id="user_email" placeholder="E-mail">
		<br>
		<input type="password" name="user[password]" id="user_password" placeholder="Password">
		<br>
		<input name="user[first_name]" id="user_first_name" placeholder="First Name">
		<br>
		<input name="user[last_name]" id="user_last_name" placeholder="Last Name">
		<br>
		<button id="signup-btn">Sign Up</button>
	</form>
	<div class="signup-text-style">
		<br>
		<text id="signup-text">
			By signing up, I agree to RingerPinger's Terms of Service, Privacy Policy, and Athlete Standards of Conduct.
		</text>
		<br><br>
		<a href="#" id="signup-hide">Close</a>
	</div>
</div>