<div class="signup-modal">
	<input name="user[email]" id="user_email" placeholder="e-mail">
	<br>
	<input name="user[password]" id="user_password" placeholder="password">
	<br>
	<input type="submit" value="Sign Up">
	<br>
	<div id="signup-text">
		By signing up, I agree to RingerPinger's Terms of Service, Privacy Policy, and Athlete Standards of Conduct.
	</div>
	<br><br>
	<a href="#" id="signup-hide">Close</a>
</div>