<div class="signup-modal">
	<form id="signup-form">
		<text id="signup-title">Join the Fray!</text>
		<br><br><br>

		<input name="email" id="user_email" placeholder="E-mail">
		<br>
		<input type="password" name="password" id="user_password" placeholder="Password">
		<br>
		<button id="signup-btn">Sign Up</button>
	</form>
	<br><br>
	<text id="signup-text">
		By signing up, I agree to RingerPinger's Terms of Service, Privacy Policy, and Athlete Standards of Conduct.
	</text>
	<br><br>
	<a href="#" id="signup-hide">Close</a>
</div>