
 // * This is a manifest file that'll be compiled into application.css, which will include all the files
 // * listed below.
 // *
 // * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 // * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 // *
 // * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 // * compiled file so the styles you add here take precedence over styles defined in any styles
 // * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 // * file per style scope.
 // *
 // *= require_tree .
 // *= require_self
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

*:focus {
	outline: 0;
}

body {
	height: 100%;
	width: 100%;
}

.jumbotron {
	padding: 0px;
	margin: 0px;
}

.index-content {
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 100%;
	height: 100%;
	padding: 0px;
}

#home-header {
	background: url('images/sunset_basketball.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 2000px;
	background-position: -400px -500px;
	position: relative;
	height: 600px;
	width: 100%;
	margin: 0px;
}

#center-blurb {
	color: gray;

	.head {
		font-size: 60px;
	}

	.body {
		font-size: 18px;
		font-weight: 400;
		padding: 0px;
		margin: 0px;
	}

	.info-button {
		transition-property: background-color;
		transition-duration: 0.5s;
		letter-spacing: 1px;
		font-weight: 400;
		background: rgba(255,255,255, 0.5);
		position: relative;
		padding: 10px 30px;
		margin: 20px;
		border-style: none;
		border-radius: 3px;
	}

	.info-button:hover {
		transition-property: background-color;
		transition-duration: 0.5s;
		background-color: rgba(0, 0, 0, 0.6);
	}

	color: white;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 900;
	position: relative;
	top: 80px;
} 

.darkened { 
	background-color: rgba(0, 0, 0, 0.6);
}

#down-caret {
	font-size: 10px;
}

.ui-datepicker {
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-weight: 100;
	padding: 20px;

	a {
		color: white;
		padding: 5px;
	}

	.ui-corner-all {
		font-weight: 400;
		margin-left: 0px;
		padding-left: 0px;
	}

	.ui-datepicker-month {
		color: #2D9D92;
		font-size: 16px;
		font-weight: bold;
	}

	.ui-datepicker-year {
		color: #2D9D92;
		font-size: 16px;
		font-weight: bold;
	}

	a:hover {
		transition-property: color;
		transition-duration: 0.5s;
		color: tomato;
		text-decoration: none;
	}
}




