#panels {
	background: #CEE1E1;
}

.panels-header {
	color: #3E4444;
	font-size: 28px;
	font-weight: 100;
	text-align: center;
	padding: 50px;
	letter-spacing: 3px;
}

.shepherd-step {
	.shepherd-content {
		width: 300px;
		text-align: center;
		background: rgba(0, 0, 0, 0.4);
		header {
			background: rgba(0, 0, 0, 0.6);
		}
	}
}

.panel-images {
	overflow-x: scroll;
	overflow-y: scroll;
	img {
		transition-property: opacity;
		transition-duration: 0.5s;
		width: 425px;
		height: 250px;
	}

	img:hover {
		transition-property: opacity;
		transition-duration: 0.5s;
		opacity: 0.5;
	}

	.top-row {
		width: 940px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		img {
			position: relative;
			float: left;
			margin: 20px;
			margin-top: 0px;
			border: solid gray 2px;
		}
	}

	.bottom-row {
		width: 1360px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		img {
			float: left;
			margin: 10px;
			border: solid gray 2px;
			margin-bottom: 50px;
		}
	}
}


