.navbar {
	border: none;
}

.navbar.navbar-no-margin {
	margin: 0px;
	border: none;
	background: url('images/baseball_grass.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 2000px;
	background-position: -200px -1050px;
}

.navbar.navbar-event-show {
	border: none;
	margin: 0px;
	background: url('images/soccer_goal.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 2000px;
	background-position: -500px -600px;
}

#navbar-style {
	background: rgba(0, 0, 0, 0.5);
	height: 70px;
	width: 100%;
	border: none;
}

.navbar-items {

	li {
		display: inline;
		padding: 10px;
	}

	a {
		transition-property: color;
		transition-duration: 0.5s;
		color: white;
	}

	a:link {
		color: white;
		text-decoration: none;
	}

	a:visited {
		color: white;
		text-decoration: none;
	}

	a:hover {
		transition-property: color;
		transition-duration: 0.5s;
		color: tomato;
		text-decoration: none;
	}

	a:active {
		text-decoration: none;
	}

	.toggle-avail:link {
		color: #19D119;
		color: tomato;
	}


	.toggle-avail:hover {
		color: gray;
	}

	.toggle-unavail:link {
		color: gray;
	}

	.toggle-unavail:hover {
		color: #19D119;
		color: tomato;
	}

	#create-event {
		transition-property: background, color;
		transition-duration: 0.5s;
		position: relative;
		height: 30px;
		width: 120px;
		color: white;
		background: #2D9D92;
		border-style: none;
		border-radius: 2px;
		text-align: center;
		bottom: 3px;
		margin-left: 5px;
	}

	#create-event:hover {
		transition-property: background, color;
		transition-duration: 0.5s;
		color: gray;
		background: turquoise;
	}

	top: 10px;
	color: white;
	list-style-type: none;
	padding: 25px;
}

.left-justify {
	position: absolute;
	left: 10px;
	font-size: 20px;
	letter-spacing: 1px;
	top: 10%;
	font-weight: 500;
}


.right-justify {
	position: absolute;
	right: 20px; 
	letter-spacing: 1px;
	font-weight: 125;
	font-size: 13px;
	top: auto;
}



