#event-form {
	text-align: center;
	background: #E0E2E8;
	color: #585858;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
	height: 850px;
	overflow-y: scroll;

	.form-inputs {
		position: relative;
		width: 50%;
		left: 40%
	}

	#event_sport {
		margin-top: 30px;
	}
}

.new-event-header {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	background: white;
	text-align: center;

	#event-form-title {
		text-align: center;
		font-size: 30px;
		font-weight: 400;
		padding-top: 50px;
		padding-bottom: 20px;
	}

	#event-form-description {
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0px;
	}
}

.sport-choice {
	position: relative;
	margin: 50px;
	margin-left: 5px;
	margin-bottom: 20px;
	width: 110%;

	#sport-label {
		position: relative;
		font-weight: 300px;
		padding: 5px;
		bottom: 10px;
	}
}

.description-field {
	width: 300px;
	height: 200px;
}

.btn-group {
	padding-left: 10px;
	bottom: 3px;

	img {
		height: 20px;
	}

	span {
		padding: 5px;
		font-size: 14px;
		letter-spacing: 1px;
	}
}

button:focus {
	background: salmon;
}

#basketball-btn {
	border: solid #C3C6CC 1px;
}

#other-sport {
	position: relative;
	top: 1px;
}

#create-btn {
	transition-property: background;
	transition-duration: 0.5s;
	font-size: 14px;
	font-weight: 400;
	height: 50px;
	background: tomato;
	color: white;
	border: solid #C3C6CC 1px;
	border-radius: 3px;
	margin: 30px;
	margin-left: 10px;
	letter-spacing: 1px;
}

#create-btn:hover {
	transition-property: background;
	transition-duration: 0.5s;
	background:salmon;
}

.text-inputs {

	* {
		border: solid #C3C6CC 1px;
		margin: 10px;
		padding-left: 10px;
	}
}

#map-title {
	position: relative;
	margin-left: 170px;
	top: 45px;
	left: 5%
}

#map-search {
	position: relative;
	top: 575px;
	left: 9%;
	width: 300px;

	input {
		padding-left: 5px;
		padding-right: 5px;
	}

	button {
		transition-property: background;
		transition-duration: 0.5s;
		background: #2D9D92;
		color: white;
		border: solid #C3C6CC 1px;
		border-radius: 3px;
		letter-spacing: 1px;
	}

	button:hover {
	transition-property: background;
	transition-duration: 0.5s;
	background:turquoise;
	}
}

