.signup-modal {
	position: absolute;
	visibility: hidden;
}

.signup-show {
	position: absolute;
	border-radius: 5px;
	color: white;
	background: rgba(0, 0, 0, 0.9);
	position: absolute;
	left: 38%;
	visibility: visible;
	text-align: center;
	width: 350px;
	z-index: 1;

	input {
		color: black;
		padding: 8px;
		margin: 5px;
		text-align: center;
		letter-spacing: 1px;
		font-weight: 200;
	}

	#signup-form {
		margin: 20px;
	}

	text {
		margin-top: 20px;
		text-align: center;
		padding: 10px;
	}

	#signup-btn {
		margin: 20px;
		color: white;
		width: 100px;
		height: 50px;
		background: tomato;
		border-style: none;
		border-radius: 3px;
		letter-spacing: 1px;
	}

	#signup-title {
		font-size: 18px;
		font-weight: 250;
		letter-spacing: 2px;
	}

	#signup-text {
		font-size: 11px;
	}

	.signup-text-style {
		margin: 20px;
	}
}