<div class="navbar navbar-no-margin"></div>
<form id="event-form">
	<div class="new-event-header">
		<div id="event-form-title">
			Create Your Profile
		</div>
		<div id="event-form-description">
			Let us know a little bit about you!
		</div>
	</div>

	<div class="profile-forms">
		<label for="profile_about_me">About Me</label>
		<input type="textarea" name="profile[about_me]" id="profile_about_me" 
			placeholder="What's your story?" rows="4" cols="50" class="profile-input">
					
	</div>


	<button id="profile-save">Save Profile</button>
	</div>
</form>


<div class="main-footer"></div>
