#user-edit-form {
	color: #2F2F2F;
	text-align: center;
	margin-left: 0px;
	padding-left: 0px;

	h1 {
		color: #2F2F2F;
		letter-spacing: 5px;
		margin: 20px;
	}

	label {
		display: block;
		font-size: 22px;
		font-weight: 200;
		letter-spacing: 2px;
	}

	input {
		padding: 5px;
		font-size: 18px;
		font-weight: 100;
		letter-spacing: 2px;
	}

	textarea {
		padding: 5px;
		font-size: 18px;
		font-weight: 100;
		letter-spacing: 2px;
		border-color: light-gray;
	}

	ul {
		list-style: none;
		padding-left: 0px;
	}

	li {
		margin: 10px;
		padding-left: 0px;
	}

	input {
		margin: 20px;
	}

	button {
		border-radius: 10px;
		border: none;
		transition-property: background, color;
		transition-duration: 0.5s;
	}

	button:hover {
		background: #2F2F2F;
		color: white;
		transition-property: background, color;
		transition-duration: 0.5s;
	}

	#save-btn {
		margin: 20px;
		transition-property: background, color;
		transition-duration: 0.5s;
		height: 45px;
		width: 150px;
		color: white;
		background: tomato;
		border-style: none;
		border-radius: 3px;
		font-size: 15px;
		font-weight: 200;
		letter-spacing: 3px;
	}

	#save-btn:hover {
		transition-property: background, color;
		transition-duration: 0.5s;
		background:	#FF927E;
		color: gray;
	}
}