<div class="details">
	<input type="hidden" name="event[location_lat]" data-geo="lat">
	<input type="hidden" name="event[location_long" data-geo="lng">
	<input type="hidden" name="event[location_address]" data-geo="formatted_address">
</div>

